@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #8579b7;
  color: #000;
  padding: 36px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
}

.section {
  padding: 20px; /* Reduzido o padding para dispositivos móveis */
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
}

form input,
form textarea,
form button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: calc(100% - 20px); /* Utilizado o calc() para considerar o padding */
  max-width: 400px;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #8579b7;
}

.sobre-content {
  display: flex;
  flex-direction: column; /* Alterado para coluna em dispositivos móveis */
}

.column1,
.column {
  padding: 0; /* Removido o padding para dispositivos móveis */
  margin: 10px 0; /* Adicionado margem para separar as colunas */
}

.column img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.column p {
  margin-top: 20px;
}

.linha {
  width: 100px; /* Reduzido o tamanho da linha */
}

.text-about-me {
  word-wrap: break-word;
  text-align: center; /* Alterado para justificado */
  line-height: 1.5; /* Espaçamento entre linhas */
  font-size: 20px; /* Reduzido o tamanho da fonte */
}

footer {
  background-color: #8579b7;
  color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  align-items: center;
}

.links-externos {
  margin-top: 10px;
}

.links-externos a {
  margin-right: 10px;
}

.links-externos a:last-child {
  margin-right: 0;
}

.links-externos img {
  width: 50px;
  height: 50px;
}

.gallery {
  margin-top: 10px;
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Adicionado para itens se ajustarem em dispositivos móveis */
}

.portfolio-item {
  flex: 1;
  margin: 10px;
  text-align: center;
  position: relative; /* Adicionado para posicionamento absoluto */
}

.portfolio-item img {
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
  height: auto; /* Permite que a altura seja ajustada automaticamente para manter a proporção */
  width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
}


.portfolio-item h3 {
  position: absolute; /* Posicionamento absoluto para centralizar texto */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #8579b7;
  padding: 10px;
  border-radius: 5px;
  width: 90%; /* Ajuste de largura */
  color: white;
}

.portfolio-item:hover h3 {
  opacity: 1;
}





@media only screen and (max-width: 768px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 20px); /* Alterado para 2 itens por linha em dispositivos móveis */
  }

  .column img {
    max-width: 50%; /* Reduzindo o tamanho da imagem na coluna para dispositivos móveis */
  }

  .column {
    padding: 0 20px; /* Adicionando algum espaço de preenchimento lateral para as colunas em dispositivos móveis */
  }

  .text-about-me {
    font-size: 18px; /* Aumentando ligeiramente o tamanho da fonte para dispositivos móveis */
  }

  .title-section {
    font-size: 20px; /* Ajustando o tamanho do título para dispositivos móveis */
  }

  .portfolio-item {
    margin-bottom: 20px; /* Adicionado margem inferior */
  }
}

#logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Define duas colunas */
  gap: 20px; /* Espaçamento entre os itens */
}

.img-logo {
  width: 100%; /* Ajustado para ocupar toda a largura */
}

.socialMedia {
  width: 100%; /* Ajustado para ocupar toda a largura */
}

.title-section-black {
  color: #fff;
}

.line-section {
  width: 100px;
  color: white;
}
.imgs-logos{
  width: 1050px;
}
.real-gaz{
  width: 350px;
  margin-bottom: -100px;
}
.chocolates-andrade{
  width: 1050px;
  margin-top: 120px;
}
.neves-advogados{
  width: 1050px;
  margin-top: 50px;
}
.revista-abstracao{
  width: 1050px;
  margin-top: 50px;
}
.socialMedia{
  width: 1050px;
}

.black-section{
  padding: 20px; /* Reduzido o padding para dispositivos móveis */
  text-align: center;
  background-color: black;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  #logos {
    grid-template-columns: 1fr; /* Define uma única coluna para telas menores */
  }
  .portfolio-item {
    flex: 1 1 100%; /* Define a largura de cada item para 100% para ocupar a largura total */
    margin-bottom: 50px; /* Adiciona margem inferior entre as imagens */
  }
}

@media only screen and (min-width: 769px) {
  #logos {
    grid-template-columns: repeat(2, 1fr); /* Define duas colunas para telas maiores */
  }}

