@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  /* background-color: #ffffff; */
  color: #222222;
  padding: 36px;
  text-align: center;
  gap: 25px;
  font-family: "Quicksand", sans-serif;
}

header :hover {
  transition: 1s ease-in-out;
  color: #FA8E45;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #222;
  text-decoration: none;
  font-size: 24px;
}

/* .section {
  padding: 20px;
  text-align: center;
} */

/* .column-prototipo .portfolio-item {
  width: 100%;
  /* Define a largura total para cada item */


.section-about-me {
  /* background-color: #8579b7;
    color: rgb(0, 0, 0); */
  background-color: #8305a5;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  width: 90%;
  height: 500px;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.sobre-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.column {
  flex: 1;
}

.column img {
  max-width: 100%;
  border-radius: 50%;
}

.column1 {
  flex: 2;
  padding: 0 20px;
}

.hello-world {
  font-size: 150px;
  text-decoration: underline;
}

.section-services {
  padding: 20px;
  text-align: center;
}


.container {
  text-align: center;
  /* centraliza os botões */
}

.contato {
  text-align: center;
  margin-left: 50px;
}

.link a {
  color: #8305a5;
  /* Cor que você deseja para o link */
  /* Remova se quiser sublinhar o link */
}

.btn {
  margin-left: 20px;
  background-color: #FA8E45;
  color: #222;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  height: 60px;
  width: 260px;
  cursor: pointer;
  display: inline-block;
  margin-left: 22, 5%;
  /* exibe os botões lado a lado */
}

.area {
  display: none;
  padding: 20px;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  border-radius: 10px;
}

.portfolio-item-v1 {
  height: 60pxpx;
  border-radius: 10px;
}



@media (max-width: 768px) {
  #logos {
    grid-template-columns: 1fr;
    /* Altera para uma coluna em telas menores */
  }
}


.text-about-me {
  word-wrap: break-word;
  text-align: center;
  line-height: 1.5;
  font-size: 24px;
}


.titleService {
  text-align: center;
  align-items: center;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.links-externos {
  margin-top: 10px;
}

.links-externos a {
  margin-right: 10px;
}

.links-externos a:last-child {
  margin-right: 0;
}

.links-externos img {
  width: 50px;
  height: 50px;
}

.gallery {
  margin-top: -70px;
  margin-left: 85px;
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-item {
  flex: 1;
  margin: 10px;
  text-align: center;
  position: relative;
}



.portfolio-item img {
  max-width: 100%;
  height: auto;
  width: 100%;
}



.portfolio-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-color: #FA8E45;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  color: white;
}


.portfolio-item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #22222280;
  /* Cor de fundo com opacidade baixa */
  border-radius: 10px;
  /* Mesmo valor de borda arredondada das imagens */
}

.portfolio-item:hover h3 {
  opacity: 1;
  /* Mostra a descrição quando o mouse passa por cima */
}

.nicheNet {
  height: 200px;
}

.img-anna {
  border-radius: 10%;
  width: 500px;
}

.chocolates-andrade {
  margin-top: 50px;
}

.revista-abstracao {
  margin-top: 70px;
}

.neves-advogados {
  margin-top: 50px;
}

.bigDash {
  margin-top: 250px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  display: none;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: start;
  font-size: 24px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #FA8E45;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.closebtn:hover {
  color: #FA8E45;
}